.cardscontainer {
	margin-top: 80px;
}

.card {
	margin-top: 20px;
	height: 200px;
}

.fa-star {
	font-size: 1.5rem;
	cursor: pointer;
}
.readmore {
	display: flex;
	justify-content: space-between;
}
